html{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #efefef;
}
#main{
  text-align: center;
  font-size: 50px;
  color: rgb(31, 122, 140);
}
#aredir{
  text-decoration: none;
  color: #FFFFFF;
}
#redirect2{
  height: 45px;
  width: 300px;
  font-size: 30px;
  background-color: #353535;
  text-decoration: none;
  align-items: center;
}
