html{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #efefef;
}
#dashboard {
  text-align: center;
  margin: auto;
  margin-bottom: 25px;
  padding: 30px;
  font-size: 25px;
  background-color: #f7c3d6;
  color: white;
}



button{
  width: 600px;
  height: 150px;
  font-size: 50px;
  margin: auto;
  margin-bottom: 35px;
  margin-top: 35px;
  border-radius: 50% / 10%;
  color: white;
  text-align: center;
  background-color:#1F7A8C;

}
button:hover{
  background-color: #2ba8c2;
}
#addevent{
  text-align: center;
}
#see{
  text-align: center;

}
#chat{
  text-align: center;
}
.nodec{
  color: #FFFFFF;
  text-decoration: none;
}
#redirect2{
  height: 45px;
  width: 300px;
  font-size: 30px;
  background-color: #353535;
  text-decoration: none;
  align-items: center;
}
#aredir{
  text-decoration: none;
  color: #FFFFFF;
}
