html{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: #efefef;
}

  #main {
      max-width: 550px;
      text-align: center;
      font-size: 25px;
      color: rgb(31, 122, 140);
      margin: auto;
      padding: 8px;
  }
  /* #login{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    font-weight: bold;
    padding: 28px;
    border-width: 25px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    margin: auto;
  } */
  #slogan {
      text-align: center;
      font-size: 18px;
      color: rgb(95, 158, 160);
      margin: auto;
      padding: 8px;
  }
  #about h1 {
      color: rgb(250, 128, 114);
      padding-left: 80px;
      font-size: 28px;
      margin: auto;
      padding-bottom: 5px;
  }
  #about h2 {
    color: rgb(112, 128, 144);
    padding-left: 50px;
    font-size: 24px;
    margin: auto;
    padding-bottom: 20px;
}
#features h1 {
    color: rgb(250, 128, 114);
    padding-left: 80px;
    font-size: 28px;
    margin: auto;
    padding-bottom: 5px;
}

#features ul {
      color: rgb(112, 128, 144);
      padding-left: 50px;
      font-size: 24px;
      margin: auto;
      padding-bottom: 20px;
    }
#features h3 {
    color: rgb(250, 128, 114);
    padding-left: 80px;
    font-size: 28px;
    margin: auto;
    padding-bottom: 5px;
}
#features h4 {
    color: rgb(112, 128, 144);
    padding-left: 50px;
    font-size: 24px;
    margin: auto;
    padding-bottom: 20px;
}

/*Add Events Page*/
.event-form{
  text-align: center;
}
input:focus {
  background-color: #E1E5F2;
}
#event-name{
  height: 30px;
  width: 150px;
  font-size: 15px;
}
#start-time{
  height: 30px;
  width: 260px;
  font-size: 15px;
}
#end-time{
  height: 30px;
  width: 260px;
  font-size: 15px;
}
#submit{
  width: 80px;
  height: 20px;
}
